.projects-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 8px;
}

.projects-header a{
  font-size: 12px;
}

.projects-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header {
  display: flex;
  align-items: center;
  padding: 16px 8px;
}

.header h5{
  margin-left: 16px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 8px;
}

footer .projects-row{
  display: flex;
  align-items: center;
}
.projects-row small{
  margin-left: 8px;
  margin-right: 16px;
}

.projects-container p, .projects-row p{
  margin-left: 8px;
  font-size: 12px;
}
