
.project-title{
  padding-bottom: 1rem;
}

.project-gallery{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.project-card{
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--bg-color-2);
  height: 265px;
 
  padding: 2rem 1.6rem;
}

.project-card h3{
  font-size: .9rem;
  color: var(--heading-color);
}
.project-card .btn.secondary-btn{
  position: absolute;
  bottom: 2rem;

}