.xp-container{
  padding: 8px;
 
}
.xp-container ul {
  margin-left: 24px;
  margin-top: 16px;
}

.xp-data{
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.xp-data p{  
  font-weight: 700;
}

