.posts-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2.4rem;
  margin: 2rem 0;
}

.post-card{
  background-color: var(--bg-color-2);
  border-radius: 15px;
  padding: 2.5rem;
}

.post-card h3{
  color: var(--heading-color);
}

.post-card .text{
  margin: .7rem 0;
  font-size: .7rem;
}

