.skills{
  overflow: hidden;
}

.skills-box{
  background-color: var(--bg-color-2);
  padding: 5rem 6rem;
  border-radius: 20px;
  width: 100%;
}

.box-desc{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  row-gap: 2rem;
}

.skills-wrap{
  display: grid;
  grid-template-columns: repeat(4, 150px);  
  margin-top: 2rem;
  justify-content: space-between;
}
