.about .container{  
  display: grid;
  grid-template-columns: 1.05fr 1fr;
  align-items: center;
}
.about .text{
  margin: 3rem 0 4rem;
}
.about-grid{
  display: grid;
  grid-template-columns: 190px 190px;
  grid-template-rows: 190px 190px;
  justify-content: center;
  column-gap: 2.5rem;
  row-gap: 100px;
  margin-right: 2rem;
  z-index: 1;  
  position: relative;
}

.about-grid::before{
  content: '';
  position: absolute;
  width: 210px;
  height: 210px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 15px solid var(--main-color-1);
  z-index: -1;
  opacity: 0.07;
}
